.registration-page {
    display: flex;
    margin-top: 200px;
    justify-content: space-around;
    /* margin-bottom: 400px; */
    text-align: center;
    /* justify-content: center; */
    align-items: center;
}
