body {
    background-color: rgb(255, 255, 255);
}
button {
    background-color: black;
    width: 343px;
    height: 50px;
    color: aliceblue;
    border-radius: 12px;

}
input {
    border-radius: 14px;
    width: 343px;
    height: 52px;
}

.input-forms {
    display: grid;
    justify-content: space-between;
    text-align: center;
    justify-content: center;
    align-items: center;
}