body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;

    /* justify-content: center; */
    /* text-align: center;
    justify-content: center;
    align-items: center; */
}
.container div {
    margin-bottom: 10px;
}
form {
    position: relative;
}
button {
background-color: #D7D7D7;
color: rgb(7, 10, 13);
width: 360px ;
height: 54px;
border-radius: 12px;
/* outline: none; */
border: none;
}
input {
    height: 50px;
    padding-left: 10px;
}
ul {
   
    text-align: left;
   font-size: 10px;
}
.password-toggle-eyeofpas {
    position: absolute ;
    right: 5px;
    top: 40%; 
    transform: translateX(-50%);
    cursor: pointer;
}

.password-toggle-eyeofconf {
    position: absolute;
    right: 5px;
    top: 74%;
    transform: translateX(-50%);
    cursor: pointer;
}


/* .valid-password {
    color: initial;
}
.invalid-password {
    color: red; 
} */
.invalid p {
    color: red;
}
.valid p {
    color: rgb(14, 200, 14);
}
.input-password  {
    color:rgb(7, 10, 13)
}
.input-placeholder {
    color: grey;
}